body {
    color: lightgrey;
    font-size: 0.85em;
    margin-top: 1em;
    background-color: rgb(48, 48, 48);
}

a:link {
    font-size:16px;
    color: lightblue;
}

/* visited link */
a:visited {
    font-size:16px;
    color: lightblue;
}

/* mouse over link */
a:hover {
    font-size:16px;
    color: Blue;
}

/* selected link */
a:active {
    font-size:16px;
    color: lightblue;
}

div.thermostatGroup {
    border: 1px solid grey;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10px;
    width: 400px;
}

div.thermostatHeader {
    height: 25px;
    width: 100%;
}

div.thermostatName {
    width: 80%;
    height: 100%;
    float: left;
    color: darkgray;
    font-size: 20px;
}

div.thermostatButtonsOuter {
    width: 20%;
    height: 100%;
    float: right;
    height: 25px;
}

div.thermostatButtonsInner {
    top: 50%;
    height: 25px;
}

div.thermostatInfo {
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

p.temperatureInfo {
    font-size:14px;
}

span.thermostatValue {
    color: darkorange;
    font-size:16px;
}

.temperatureSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.temperatureSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.temperatureSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

div.newThermostatPopup {
    border: 1px solid grey;
    border-radius: 8px;
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10px;
}

div.editThermostatErrorTop {
    background-color: darkred;
    border: 2px solid black;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 2%;
    margin-right: 2%;
    width: 400px;
    font-size:20px;
}

p.editThermostatErrorTop {
    color: black;
    margin-left: 10%;
    font-size:18px;
}

p.editThermostatError {
    margin-left: 10%;
    color: red;
    font-size:18px;
}

p.editThermostat {
    margin-left: 10%;
    color: lightgrey;
    font-size:18px;
}

.editThermostatInput {
    margin: auto;
    display: block;
    width: 80%;
    height: 24px;
    font-size: 18px;
    border: none;
}

.editThermostatInputSubmit {
    margin: auto;
    display: block;
    border-radius: 8px;
    height: 36px;
    font-size: 20px;
    width: 80%;
    border-color: darkblue;
    background-color: darkblue;
    color: lightgrey;
}

/* Button used to open the contact form */
.editThermostatOpenButton, .deleteThermostatOpenButton {
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
}

/* The popup form - hidden by default */
div.editThermostatPopup, div.deleteThermostatPopup {
    border: 1px solid grey;
    border-radius: 8px;
    display: none;
    width: 100%;
    border: white;
}

/* Add styles to the form container */
form.editThermostatPopup, form.deleteThermostatPopup {
    padding: 10px;
}

form.editThermostatPopup input[type=text], form.editThermostatPopup input[type=url] {
    background: white;
    width: 100%;
}

form.newThermostatPopup input[type=text], form.newThermostatPopup input[type=url] {
    background: white;
    width: 100%;
}

/* Set a style for the submit/login button */
.editThermostatPopup .editButton, .deleteThermostatPopup .deleteButton, .newThermostat .newThermostatOpenButton {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
  
/* Add a red background color to the cancel button */
.editThermostatPopup .cancelButton, .deleteThermostatPopup .cancelButton {
    background-color: red;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add some hover effects to buttons */
.editThermostatPopup .editButton:hover, .edit-button:hover {
    opacity: 1;
}

div.newThermostat {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10px;
    width: 400px;
}