<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css"> 
</head>

<body>
  <div class="mainBody" style="width: 100%;">
    <h2>Thermostat Controls</h2>
    {% for group in groups %}
    <div class="thermostatGroup" id="thermostatGroup{{ group.lower().capitalize() }}">
      {% for thermostat in thermostats %}
      {% if thermostat['group'] == group %}
      <div class="thermostatInfo" id="thermostat-{{ thermostat['id'] }}">
        <div class="thermostatInfoHeader">
          <div class="thermostatName">{{ thermostat['name'].lower().capitalize() }}
          </div>
          <div class="thermostatButtonsOuter">
            <div class="thermostatButtonsInner">
              <form id="edit-{{ thermostat['id'] }}" method='POST'>
                <input type="image" src="../static/images/gears.png" name="action" value="config" class="thermostatButtons" />
                <input type="image" src="../static/images/garbageCan.png" name="action" value="delete" class="thermostatButtons" />
                <input type="hidden" name="id" value="{{ thermostat['id'] }}">
              </form>
            </div>
          </div>
        </div>
        <div class="temperatureSlider">
          <form id="slider-{{ thermostat['id'] }}" method='POST'>
            <input type="range" min="1" max="50" value="{{ thermostat['requested_temp'] }}" class="slider" id="input-{{ thermostat['id'] }}" name="requested_temp">
            <input type="hidden" name="id" value="{{ thermostat['id'] }}">
          </form>
        </div>
        <p class="temperatureInfo">Requested temperature: <span class="thermostatValue" id="requestedTemp-{{ thermostat['id'] }}">{{ thermostat['requested_temp'] }}</span><span class="thermostatValue" ></span>&#8451;</span></p>
        <p class="temperatureInfo">Current temperature: <span class="thermostatValue" id="currentTemp-{{ thermostat['id'] }}">{{ thermostat['current_temp'] }}</span><span class="thermostatValue" ></span>&#8451;</span></p>
      </div>
      <script>
        var slider_{{ thermostat['id'].replace('-', '') }} = document.getElementById("input-{{ thermostat['id'] }}");
        var output_{{ thermostat['id'].replace('-', '') }} = document.getElementById("requestedTemp-{{ thermostat['id'] }}");
        output_{{ thermostat['id'].replace('-', '') }}.innerHTML = slider_{{ thermostat['id'].replace('-', '') }}.value;
    
        // Update the current slider value (each time you drag the slider handle)
        slider_{{ thermostat['id'].replace('-', '') }}.oninput = function() {
          output_{{ thermostat['id'].replace('-', '') }}.innerHTML = this.value;
        }
        slider_{{ thermostat['id'].replace('-', '') }}.onchange = function() {
          this.form.submit();
        }
      </script>
      <script>
        var edit_{{ thermostat['id'].replace('-', '') }} = document.getElementById("edit-{{ thermostat['id'] }}");

        edit_{{ thermostat['id'].replace('-', '') }}.onchange = function() {
          this.form.submit();
        }
      </script>
      {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
    <a href="{{ url_for('.create_thermostat') }}"> New Thermostat </a>
  </div>
</body>
</html>
