<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css"> 
</head>

<body>
  <div class="mainBody" style="width: 100%;">
    <h2>Thermostat Controls</h2>
    {% for group in groups %}
    <div class="thermostatGroup" id="thermostatGroup{{ group.lower().capitalize() }}">
      <h2>{{ group.lower().capitalize() }}</h2>
      {% for thermostat in thermostats %}
      {% if thermostat['group'] == group %}
      <div class="thermostatInfo" id="thermostat-{{ thermostat['id'] }}">
        <h3>{{ thermostat['name'].lower().capitalize() }}</h3>
        <div class="temperatureSlider">
          <input type="range" min="1" max="50" value="{{ thermostat['requested_temp'] }}" class="slider" id="input-{{ thermostat['id'] }}">
        </div>
        <p class="temperatureInfo">Requested temperature: <span class="thermostatValue" id="requestedTemp-{{ thermostat['id'] }}">{{ thermostat['requested_temp'] }}</span><span class="thermostatValue" ></span>&#8451;</span></p>
        <p class="temperatureInfo">Current temperature: <span class="thermostatValue" id="currentTemp-{{ thermostat['id'] }}">{{ thermostat['current_temp'] }}</span><span class="thermostatValue" ></span>&#8451;</span></p>
      </div>
      <script>
        var slider_{{ thermostat['id'].replace('-', '') }} = document.getElementById("input-{{ thermostat['id'] }}");
        var output_{{ thermostat['id'].replace('-', '') }} = document.getElementById("requestedTemp-{{ thermostat['id'] }}");
        output_{{ thermostat['id'].replace('-', '') }}.innerHTML = slider_{{ thermostat['id'].replace('-', '') }}.value;
    
        // Update the current slider value (each time you drag the slider handle)
        slider_{{ thermostat['id'].replace('-', '') }}.oninput = function() {
          output_{{ thermostat['id'].replace('-', '') }}.innerHTML = this.value;
        }
      </script>
      {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
    <a href="{{ url_for('.create_thermostat') }}"> New Thermostat </a>
  </div>
</body>
</html>
